<!DOCTYPE html>
<html>
<head>
    <title>Image Generation</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #form-container {
            width: 100%;
            height: 200px;
            background-color: #f0f0f0;
            padding: 20px;
            box-sizing: border-box;
        }

        #svg-container {
            width: 100%;
            height: calc(100vh - 200px);
        }

        #svg-container svg {
            width: 100%;
            height: 100%;
        }
    </style>
    <script src='https://unpkg.com/panzoom@9.4.0/dist/panzoom.min.js'></script>
    <script>
        function generateImage() {
            var startsymbol = document.getElementById('startSymbol').value;
            var instance = parseInt(document.getElementById('instance').value);
            var displayMode = document.getElementById('displayMode').value;
            var depth = document.getElementById('depth').value;
        
            fetch('/generate-image', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    startsymbol: startsymbol,
                    instance: instance,
                    displaymode: displayMode,
                    depth: depth,
                }),
            })
                .then((response) => response.text())
                .then((svg) => {
                    // Set the SVG image as the contents of the SVG container
                    document.getElementById('svg-container').innerHTML = svg;
        
                    var element = document.getElementById('svg-container')
                    // Enable pan and zoom on the SVG container
                    panzoom(element, {
                        maxZoom: 2,
                        minZoom: 0.5,
                        increment: 0.1,
                    });
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        function resetForm() {
            document.getElementById('imageForm').reset();
            document.getElementById('svg-container').innerHTML = '';
        }
    </script>
</head>
<body>
	<section id="form-container">
		<h1>Image Generation Form</h1>
		<form id="imageForm">
			<label for="startSymbol">Start Symbol:</label>
			<input type="text" id="startSymbol" name="start_symbol" required>

			<label for="instance">Instance:</label>
			<input type="number" id="instance" name="instance" required>

			<label for="displayMode">Display Mode:</label>
			<select name="display_mode" id="displayMode">
				<option value="1">Functions Mode</option>
				<option value="2">Subsystems Mode</option>
				<option value="4">Interface Mode</option>
			</select>

			<label for="depth">Depth:</label>
			<input type="text" id="depth" name="depth">

			<button type="button" onclick="generateImage()">Generate Image</button>
			<button type="button" onclick="resetForm()">Reset</button>
		</form>
	</section>

	<section id="svg-container"></section>
</body>
</html>
